<div cdkDropListGroup class="wrapper">
  <!-- <app-drag-drop
    [todo]="todo"
    [subtask]="'1 of 3 subtasks '"
    [todoName]="todo"
  ></app-drag-drop> -->
  <!-- <app-drag-drop  *ngFor="let item of todo" [todo]="item.task.doing" [subtask]="'1 of 3 subtasks '" [todoName]="'Doing'"></app-drag-drop>
<app-drag-drop  *ngFor="let item of todo" [todo]="item.task.done" [subtask]="'1 of 3 subtasks '" [todoName]="'Done'"></app-drag-drop> -->

<app-drag-drop [todo]="getTodo()" [doing]="getDoing()" [done]="getDone()"></app-drag-drop>

</div>
