@import '../../styles/_variables';

.modal{
  background-color: $color-blue-2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 4rem;
  justify-content: space-between;
  color: $color-light-white;


  &__btn{
    display: flex;
    flex-direction: column;
    gap:2rem;
    font-size: 1.3rem;
    font-weight: 700;


    &--light{
      background-color: $color-light-white;
      color: $color--purble;
      padding: 1.5rem;
      border-radius: 3rem;
      cursor: pointer;
    }

    &--dark{
      background-color: $color--purble;
      color: $color-light-white;
      padding: 1.5rem;
      border-radius: 10rem;
      cursor: pointer;

    }
  }


}

label,input{
  display: block;
  font-size: 1.2rem;
}

input{
  margin-top: 1rem;
  width: 100%;
  outline: none;
  border: 1px solid  $color-dark-white;
  background-color: $color-blue-2;
  color: $color-light-white;
  border-radius: 4px;
  padding: 1rem 1rem;

  &:focus{
    border: 1px solid  $color-light-white;
  }

  &::placeholder{
    color: $color-dark-white;

  }
}
h2{
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
