@import "../../styles/variables";

.container {
  display: grid;

  grid-template-columns: 23% auto;

  background-color: $color-blue-1;

}
.slidebar {
  flex-basis: 22%;
  height: calc(100vh - 81px);

}

.todo {
  min-height: calc( 100vh - 81px);

}
